body,p,a,li,ul,dl,dt,div,h1,h2,h3,h4,h5,form,input,textarea{
	margin: 0px;
	padding: 0px;
}
ol,li,ul{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
	color: #fff;
}
img{
	border: none;
	display: block;
}
.clearfloat
{
	zoom:1;
}
.clearfloat:after
{
	display: block;
	clear:both;
	content:"";
	visibility: hidden;
	height:0;
}